!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Welcome
    %p
      We have received your request for an invitation to example.com.
    %p
      We'll contact you when we launch.
