%h1 Thank you
#request-invite.modal{:style => "display: 'block';"}
  .modal-header
    %a.close{"data-dismiss" => "modal"} ×
    %h3 Thank you!
  .modal-body{:style => "margin-bottom: 120px; overflow: visible"}
    %p 
      We received your request for an invitation.
    %p  
      We'll contact you when we launch, if not before.
    %p  
      Share your discovery with your friends!
    
    