=content_for :top_note do
  password reset link  
=content_for :title do
  Hello #{@resource.email}!
  
=content_for :blurb do
  You requested a link to change your password. Use the link below.

=content_for :body do
  %p
    = link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), :class=>"btn"
    %br/
  %p 
    If you didn't request this, please ignore this email.
    Your password won't change until you create a new one.