.row
  %h1 Listing topics
  %ul.files.thumbnails
    - @topics.each do |topic|  
      %li.span3#topic
        .thumbnail
          -if topic.cover.blank? or !Photo.find_by_id(topic.cover)  
            =link_to image_tag("/NoImageAvailable.jpg"), topic_path(topic.id)
          -else
            =link_to image_tag(Photo.find_by_id(topic.cover).image.thumb.url), topic_path(topic.id)
        .caption
          %p{:style=>"text-align: center;"}
            =link_to edit_topic_path(topic.id), :class=>"btn btn-mini" do
              %i.icon-edit
              Edit
            =link_to topic, method: :delete, data: { confirm: 'Are you sure?' } do
              %i.icon-trash
              ='Destroy'   
            =topic.name  



  =link_to 'New', new_topic_path, :class => 'btn btn-mini'