-parent = @topic
.row
  =render :partial=>'topics/breadcrumbs'
  %input#parentID{:type => "hidden", :value => parent.id}
  %p= parent.blurb.html_safe if parent.blurb

  = render 'topics/edit_modal', :locals=>{:parent=>@topic, :photo=>Photo.new}
  = render 'photos/thumbnails', :locals=>{:thumbnails=>@topic.photos}, :collection=>@topic.photos
