=render :partial=>'topics/breadcrumbs'

#full-width-slider.royalSlider.heroSlider.rsMinW
  -@topic.slider_photos.each do |photo|
    .rsContent
      =image_tag(photo.image.medium.url, :class=>"rsImg")
      .infoBlock.rsAbsoluteEl.infoBlockLeftBlack.rsNoDrag{:data=>{:fade=>{:effect=>10}, :move=>{:offset=>10, :effect=>"bottom"}, :speed=>"200"}}
        %h1=@topic.name
      .infoBlock.infoBlockLeftBlack.rsABlock.rsNoDrag{:data=>{:fade=>{:effect=>10}, :move=>{:offset=>10, :effect=>"bottom"}, :speed=>"200"}}
        %h1= photo.name
      .infoBlock.rsAbsoluteEl.rsNoDrag{:data=>{:fade=>{:effect=>10}, :move=>{:offset=>10, :effect=>"bottom"}, :speed=>"200"}}
        .blurb=@topic.blurb ? @topic.blurb.html_safe : ""
.row
  =#render :partial=>'topics/breadcrumbs'
  .card_edit
    =render :partial=>'shared/edit_menu', :locals=>{:entity=>@topic}
  =#render 'topics/edit_modal', :locals=>{:parent=>@topic, :photo=>Photo.new}
  %input#parentID{:type => "hidden", :value => @topic.id}
  %p= @topic.blurb.html_safe if @topic.blurb
  = render 'photos/thumbnails', :locals=>{:thumbnails=>@topic.photos}, :collection=>@topic.photos
