- if is_admin?
  =content_for :edit_bar do
    =render :partial=>'shared/edit_menu', :locals=>{:entity=>@topic}
    .btn-group.pull-right    
      %a.btn.btn-mini.dropdown-toggle(data-toggle="dropdown" href="#")
        %i.icon-cog
        = "Edit" 
        %span.caret
      %ul.dropdown-menu
        %li=link_to @topic.brand.name, brand_path(@topic.brand) if @topic.brand
        %li=link_to @topic.company.name, company_path(@topic.company) if @topic.company
        %li.divider
        %li=link_to "Edit", edit_topic_path(@topic)
        
#full-width-slider.royalSlider.heroSlider.rsMinW
  %input#topicID{:type => "hidden", :value => @topic.id}
  -@topic.slider_photos.each do |photo|
    .rsContent
      =image_tag(photo.image.medium.url, :class=>"rsImg")
      .infoBlock.rsAbsoluteEl.infoBlockLeftBlack.rsNoDrag{:data=>{:fade=>{:effect=>10}, :move=>{:offset=>10, :effect=>"bottom"}, :speed=>"200"}}
        %h1=@topic.name
      
.row
  %p= @topic.blurb.html_safe if @topic.blurb
  #masonry.wide
    = render 'photos/thumbnails', :locals=>{:thumbnails=>@topic.photos}, :collection=>@topic.photos


=#render 'topics/edit_modal', :locals=>{:parent=>@topic, :photo=>Photo.new}
