
.tab-content{:style=>"min-height: 480px;"} 
  .tab-pane.active#overview        
    #full-width-slider.royalSlider.heroSlider.rsMinW
      %input#topicID{:type => "hidden", :value => @topic.id}
      -@topic.slider_photos.each do |photo|
        .rsContent
          =image_tag(photo.image.medium.url, :class=>"rsImg")
          .infoBlock.rsAbsoluteEl.infoBlockLeftBlack.rsNoDrag{:data=>{:fade=>{:effect=>10}, :move=>{:offset=>10, :effect=>"bottom"}, :speed=>"200"}}
            %h1=@topic.name
    .row
      %p= @topic.blurb.html_safe if @topic.blurb
      #masonry.wide
        = render 'photos/thumbnails', :locals=>{:thumbnails=>@topic.photos}, :collection=>@topic.photos

  .tab-pane#edit
  .tab-pane#content
  .tab-pane#photos

=render "shared/popups_menus", :entity=>@topic
=render "shared/modals"