-entity = entity 
-if entity.id
  .btn-group
    %a.btn.btn-mini.dropdown-toggle(data-toggle="dropdown" href="#")
      %i.icon-cog
      ="Launch"
      %span.caret
    %ul.dropdown-menu
      %li
        = link_to edit_polymorphic_path(entity) do
          %i.icon-edit
          'Edit'
      - if entity.active?
        %li
          =link_to polymorphic_path(entity, :action=>"update_state", :state=>"inactive"), :method=>:put do
            %i.icon-off
            ="Inactivate"
      -else
        %li
          =link_to polymorphic_path(entity, :action=>"update_state", :state=>"active"), :method=>:put do
            %i.icon-ok
            ="Activate"
      %li
        =link_to polymorphic_path(entity, :action=>"new", :state=>"inactive"), :method=>:get do
          %i.icon-plus-sign
          ="New"
      %li
        =link_to polymorphic_path(entity, :action=>"update_state", :state=>"list_only"), :method=>:put do
          %i.icon-list
          "List Only"
      %li
        =link_to polymorphic_path(entity, :action=>"update_state", :state=>"admin_only"), :method=>:put do
          %i.icon-wrench
          "Admin Only"