-collection = collection || @products
-categories = []  #collection.map{|p| p.categories}.flatten.uniq
-brands =   []  #collection.map{|p| p.brand}.flatten.uniq

.tab-content{:style=>"min-height: 480px;"} 
  .tab-pane.active#actived
    .row#masonry
      =render :partial => collection, :as => :entity
  
      -if false
        - @category.slider_photos.each_with_index do |photo, index|  
          .card.thumb
            .thumbnail=link_to image_tag(photo.image.thumb.url, :class=>"rsImg"), "#image-#{index}"
            %h4=photo.name 
        - @category.companies.each do |company|  
          .card.company
            .thumbnail=link_to image_tag(company.cover_url("small")), company_path(company)
            %h4=company.name 
 
        - @category.brands.each do |brand|  
          .card.brand
            .thumbnail=link_to image_tag(brand.cover_url("small")), brand_path(brand)
            %h4=brand.name 
            
  .tab-pane#inactive
    %h2 Available to add
    = link_to 'New', new_polymorphic_path(Product)
  .tab-pane#admin
    

=render "shared/modals"
=render "shared/popups_menus", :entity=>resource, :model_class=>resource_class
   
=content_for :sidebar do
  %h3
    =resource ? resource.name : ""
  .well.sidebar-nav.advanced_search
    %ul.nav.nav-list
      =#form_tag collection_path(:action => :search), :method => :post, :class => :standard_form do
      %li.nav-header Brands
      -brands.each do |brand|
        %li
          =check_box_tag :brand, brand.id, true, {:class=>'check_box' } 
          =brand.name
      %li.nav-header Categories
      -categories.each do |category|
        %li
          =check_box_tag :category, category.id, true, :class=>'check_box' 
          =category.name
      %li.nav-header 
      %li
        = radio_button_tag :det, "detailed", :class => :radio
        Detailed
        = radio_button_tag :det, "list", :class => :radio
        List
