-if is_admin?
  -model_class = model_class
  -show_activation_tabs= show_activation_tabs || true
  -active_tab = active_tab || "actived"
  .page-header
    %span.tabs
      %ul.nav.nav-tabs{:data=>{:url=>(resource ? resource_url : collection ? collection_url : "" )}} 
        -if resource
          %li{:class=>(active_tab=='overview' ? 'active' : '')}
            =link_to "#overview", :data=>{:toggle=>:tab} do
              %i.icon-ok-circle
              %strong Show
          -if resource    
            %li{:class=>(active_tab=='edit' ? 'active' : '')}
              =link_to "#edit", :data=>{:target=>"#edit", :toggle=>:tab}, :class=>"ajax" do
                %i.icon-edit
                %strong Edit
          %li{:class=>(active_tab=='content' ? 'active' : '')} 
            =link_to "#content", :data=>{:target=>"#content", :toggle=>:tab}, :class=>"ajax" do
              %i.icon-folder-open 
              %strong  Linked Content           
          %li{:class=>(active_tab=='admin' ? 'active' : '')}
            =link_to "#admin", :data=>{:target=>"#admin", :toggle=>:tab}, :class=>"ajax" do
              %i.icon-th 
              %strong  Admin
        -else
          %li{:class=>(active_tab=='actived' ? 'active' : '')}
            =link_to "#actived", :data=>{:toggle=>:tab} do
              %i.icon-ok-circle
              %strong Active
          %li{:class=>(active_tab=='inactive' ? 'active' : '')}
            =link_to "#inactive", :data=>{:toggle=>:tab} do
              %i.icon-ban-circle 
              %strong  Available
              
        %li{:class=>(model_class==Topic ? "active pull-right" : "pull-right")} 
          =link_to "Topics", topics_path()       

        %li{:class=>(model_class==Brand ? "active pull-right" : "pull-right")} 
          =link_to "Brands", brands_path()

        %li{:class=>(model_class==Product ? "active pull-right" : "pull-right")} 
          =link_to "Products", products_path()

        %li{:class=>(model_class==Category ? "active pull-right" : "pull-right")} 
          =link_to "Categories", categories_path()

  =content_for :edit_bar do
    -if resource    
      .btn-group.pull-right    
        %a.btn.btn-mini.dropdown-toggle(data-toggle="dropdown" href="#")
          %i.icon-cog
          = "Edit" 
          %span.caret
        %ul.dropdown-menu
          %li=link_to resource.name, polymorphic_path(resource)
          %li=link_to "Content", polymorphic_path(resource, :action=>"content")
          %li.divider
          %li=link_to "Edit", polymorphic_path(resource, :action=>"edit")
          %li.divider 
          - if resource.active?
            %li
              =link_to polymorphic_path(resource, :action=>"update_state", :state=>"inactive"), :method=>:put do
                ="Inactivate"
                %i.icon-zoom-in
          -else
            %li
              =link_to polymorphic_path(resource, :action=>"update_state", :state=>"active"), :method=>:put do
                ="Activate"
                %i.icon-zoom-in
    -else
      No Resource    
        