-model_class = model_class
-show_activation_tabs= show_activation_tabs || true
-active_tab = active_tab || "actived"
.page-header
  %span.tabs
    %ul.nav.nav-tabs 
      -if show_activation_tabs
        -if is_admin?
          %li{:class=>(active_tab=='actived' ? 'active' : '')}
            =link_to "#overview", :data=>{:toggle=>:tab} do
              %i.icon-ok-circle
              %strong Overview
          %li{:class=>(active_tab=='inactive' ? 'active' : '')} 
            =link_to "#content", :data=>{:toggle=>:tab} do
              %i.icon-ban-circle 
              %strong  Linked Content           
          %li{:class=>(active_tab=='admin_new' ? 'active' : '')}
            =link_to "#photos", :data=>{:toggle=>:tab} do
              %i.icon-fire 
              %strong  Photos
        -else
          %li{:class=>(active_tab=='actived' ? 'active' : '')}
            =link_to "#overview", :data=>{:toggle=>:tab} do
              %i.icon-ok-circle
              %strong Active
          %li{:class=>(active_tab=='inactive' ? 'active' : '')}
            =link_to "#content", :data=>{:toggle=>:tab} do
              %i.icon-ban-circle 
              %strong  Available
              
      %li{:class=>(model_class==Topic ? "active pull-right" : "pull-right")} 
        =link_to "Topics", topics_path()       

      %li{:class=>(model_class==Brand ? "active pull-right" : "pull-right")} 
        =link_to "Brands", brands_path()

      %li{:class=>(model_class==Product ? "active pull-right" : "pull-right")} 
        =link_to "Products", products_path()

      %li{:class=>(model_class==Category ? "active pull-right" : "pull-right")} 
        =link_to "Categories", categories_path()