.callout
  #success.step{:style => "display: block;"}
    %h2 We want to hear from you
    %p More information in this line of the box
    .form
      %form
        %input{:type => "text", :value => "First Name"}/
        %input{:type => "text", :value => "Last Name"}/
        %input{:type => "text", :value => "Email"}/
        %input{:type => "submit", :value => "Get Started"}/
        .clear