#full-width-slider.royalSlider.rsMinW.img-bar
  -@topic.photos.each do |photo|
    .rsContent
      =image_tag(photo.image.medium.url, :class=>"rsImg", :alt=>photo.blurb)
      -if photo.blurb
        .infoBlock.infoBlockLeftBlack.rsABlock.rsNoDrag{:data=>{:fade=>{:effect=>10}, :move=>{:offset=>10, :effect=>"bottom"}, :speed=>"200"}}
          %h1= photo.name
          =(photo.blurb ? photo.blurb.html_safe : "")

      -if true || user_signed_in?
        .call-to-action
          %a.btn.btn-primary.btn-large{"data-toggle" => "modal", :href => "#request-invite"} Request invite
.row
  %h1=@topic.name
  %p= @topic.body.html_safe if @topic.body

=render "shared/popups_menus", :entity=>@topic
=render "shared/modals"
=content_for :mixpanel_tag do 
  mixpanel.track("show topic", {'topic_name': "#{@topic.name}", 'Referrer': document.referrer});