
.tab-content{:style=>"min-height: 480px;"} 
  .tab-pane.active#overview        
    #full-width-slider.royalSlider.heroSlider.rsMinW
      -@topic.slider_photos.each do |photo|
        .rsContent
          =image_tag(photo.image.medium.url, :class=>"rsImg")
          .infoBlock.rsAbsoluteEl.infoBlockLeftBlack.rsNoDrag{:data=>{:fade=>{:effect=>10}, :move=>{:offset=>10, :effect=>"bottom"}, :speed=>"200"}}
            %h1=@topic.name
            = @topic.blurb.html_safe if @topic.blurb
    .row
      %h1=@topic.name
      %p= @topic.body.html_safe if @topic.body

=render "shared/popups_menus", :entity=>@topic
=render "shared/modals"