
.tab-content{:style=>"min-height: 480px;"} 
  .tab-pane.active#overview        
    #full-width-slider.royalSlider.heroSlider.rsMinW
      -@about.slider_photos.each do |photo|
        .rsContent
          =image_tag(photo.image.medium.url, :class=>"rsImg")
          .infoBlock.rsAbsoluteEl.infoBlockLeftBlack.rsNoDrag{:data=>{:fade=>{:effect=>10}, :move=>{:offset=>10, :effect=>"bottom"}, :speed=>"200"}}
            %h1=@about.name
    .row
      %p= @about.blurb.html_safe if @about.blurb
      %p= @about.body.html_safe if @about.body

=render "shared/popups_menus", :locals=>{:entity=>@about}
=render "shared/modals"