.tab-content{:style=>"min-height: 480px;"} 
  .tab-pane#overview
    #full-width-slider.royalSlider.heroSlider.rsMinW
      %input#companyID{:type => "hidden", :value => @company.id}
      -@company.slider_photos.each do |photo|
        .rsContent
          =image_tag(photo.image.medium.url, :class=>"rsImg")
          .infoBlock.rsAbsoluteEl.infoBlockLeftBlack.rsNoDrag{:data=>{:fade=>{:effect=>10}, :move=>{:offset=>10, :effect=>"bottom"}, :speed=>"200"}}
            %h1=@company.name
            -#unless user_signed_in?
            #call-to-action
              %a.btn.btn-primary.btn-large{"data-toggle" => "modal", :href => "#request-invite"} Request invite
            .blurb=@company.blurb ? @company.blurb.html_safe : ""

    .row.company
      #masonry.wide
        - @company.topics.active.each do |topic|
          .card
            %h2=link_to topic.name, topic_path(topic)
            -if is_admin? && false
              .card_edit=render :partial=>'shared/edit_menu', :locals=>{:entity=>topic}
            %p=topic.blurb ? topic.blurb.html_safe : ""
            %p=topic.body ? topic.body.html_safe : ""
  .tab-pane.active#edit
    .row
      %h1 
        Editing 
        =link_to @company.name, @company
        = link_to "New", new_company_path(:state=>"inactive"), :class => 'btn btn-primary btn-mini'
        = render :partial=>'shared/edit_menu', :locals=>{:entity=>@company}
      = render 'form'
    
  .tab-pane#content
    .row
      %h1 Topics
      =render :partial => "topics/grid", :locals=>{:entities=>@company.topics, :model_class=>Topic }           
  
  .tab-pane#admin
    .row
      =#render :partial => "grid", :locals=>{:entities=>@mediums_new, :model_class=>model_class } 
      =render :partial=>'photos/upload_form', :locals=>{:parent=>@company}


=content_for :admin_bar do
  =render :partial=>"shared/tab_bar_edit" 
        
