.row#masonry
  %h1
    = @company.name
  %input#companyID{:type => "hidden", :value => @company.id}
  .wide
    .card
      .img-box=image_tag(@company.cover_url)
      .card-info
        =@company.blurb ? @company.blurb.html_safe : ""
      .infobox=@company.body ? @company.body.html_safe : "" 

  %p
    -@company.topics.each do |topic|
      .card
        .img-box=link_to image_tag(topic.cover_url), topic_path(topic.id)
        .card-info
          %p{:style=>"text-align: center;"}
            =topic.name  
      
