- model_class = @photo.class
= render 'photos/breadcrumbs'
.row
  -if @topic             
    = render 'form_topic'

  -else                          
    = render 'form'
  
  =link_to "Delete", photo_path(@photo), :method => 'delete', :confirm => "Are you sure?", :class => 'btn btn-mini btn-danger'   