// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@import 'layout';
@import 'cards';
/*@import 'forms';
@import 'modals';
@import 'bootstrap_and_overrides';*/

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *  require_tree .
 *  require 'royalslider'
 *  require 'rs-minimal-white'
 *= require_self
*/

.navbar-header {
   .brand {
       padding: 0px;
       margin-left: 12px;
       width: 320px;
       img {
           height: 64px;
           float: left;
       }
       h1 {
           margin: 14px 0 0 10px;
           font-weight: 100;
           float: left;
       }
    }    
}
