// Place all the styles related masonary layout here
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//@import "compass";
//@include global-reset;

$bg: #faf7f7;
$color: #8c7e7e;

#masonry {
  position: relative;
  margin: 0 auto;  
  
  margin-bottom: 78px;
  .thumb {
      width: 84px;
      min-height: 100px;
  }
  
  
} 
.company {
  #masonry {
     margin-top: 0px; 
  }
}
.companies {
    
}
.tab-pane {
    margin: 8px 0px 0px;
}

.rating_box {
  padding: 2px;
  clear: both;
  text-align: left;
  .title {
     font-size: 160%;
     font-weight: bolder;
     margin: 2px 8px 8px; 
  }
  .metric {
     font-size: 120%;
     text-align: center;
     font-weight: bolder;
     display: inline;
     margin: 2px; 
  }
  .rating {
    clear: both;
    .scope { 
       width: 118px;
       float: left; 
    } 
    .star {
       width: 170px !important; 
       float: left;
       padding: 0;
       margin: 0;
       img {
           border: 0;
           padding: 0;
           margin: 0;
       }    
    } 
    .totals {
       width: 110px !important; 
       font-size: 90%;
       padding: 0px;
       float: left;
    }
    .add_link {
       float: left;
       clear: right;    
    }
  }
  .raters {
      clear: both;
      .rater_avatar {
          float: left;
          margin: 2px 4px;
          min-width: 72px;
          max-width: 88px;
          height: 58px;
          font-size: 75%;
          .avatar_img { 
              height: 32px;
              float: left;
              margin: 2px 6px 0 0;
          }
          .rater_name { 
            margin: 0px; 
            display: block;
            height: 24px;
            overflow: hidden;
          }
          .metric { 
             display: block;
             height: 28px;
             margin: 0px;
             padding-top: 9px;
             font-size: 140%;
          } 
      }
      .rater_avatar:last-child { clear: right; margin-bottom: 10px;}
  }
  .left { 
      .scope {float: left;}
      .star { 
         width: 120px !important;
         display: inline;
       }
  }
}

.card {
  width: 30%;
  min-height: 180px;
  float: left;
  padding: 8px 8px 4px;
  margin: 8px;
  font-size: 100%;
  -webkit-box-shadow: rgba(34, 25, 25, 0.4) 0px 1px 3px 0px;
  -moz-box-shadow: rgba(34, 25, 25, 0.4) 0px 1px 3px 0px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(34, 25, 25, 0.4) 0px 1px 3px 0px;

  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  line-height: 1.5; 
  .img-box {              
     float: left;
     overflow: hidden; 
     width: auto;
     max-width: 268px;
     height: auto;
     max-height: 200px;
     img { width: auto;}
  } 
  .tmb-box {
      float: left;
      overflow: hidden; 
      width: auto;
      max-width: 132px;
      height: auto;
      max-height: 200px;
      img { width: auto;}
  }
  .card_edit {
      z-index: 150;
      position: relative;
      left: -2px;
      top: -34px;
  }
  .thumbnail {
      .card_edit {
          position: relative;
          z-index: 35;
          top: 0px;
          right: 0px;
      }
  }
  .btn-box {
      width: 294px;
  }
  .card-info {     
      float: right;
      margin: 0px;
      padding: 8px;
  }
  .title { 
    font-size: 140%;   
    font-weight: bold;
    line-height: 20px;
    height: 38px;
    margin: 0px;
    padding: 8px;
  }
  .thumb {
      padding: 4px;
      min-height: 180px;
      width: 180px;
      margin: 8px auto;
      img { 
         margin: 10px auto;
         width: 180px;
      }
  }
  h2 {
    margin: 4px;  
    padding: 0;
    font-weight: 300;
    font-size: 140%;
    a { color: #505050;}
  }
  h3 { margin-bottom: 0px;}
  h4 {
    margin: 6px;
    line-height: 14px; 
    font-size: 120%;
    a { color: #505050;}
  }
  .comments {
    color: $color;
    padding-bottom: 15px;
  }
  .info {
    margin: 0;
  }
  .infobox {
    border: none;
    padding: 2px;
    clear: both;
    &:last-child {
      border-bottom: none; 
      clear: both;
    }
    &:first-child {
      color: #b29c9c;
      b {
        color: #8c7e7e;
      }
    }
    h4 { margin-bottom: 0px;}
    b {
      font-weight: bold;
      font-size: 120%;
    }
    a {
      color: #444;
      text-decoration: underline;
    }
    
  }
  .rating_box {
    padding: 2px;
    .rating {
      .scope { width: 140px;} 
      
    }
    .left { 
      .scope {float: left;}
      .star { width: 120px !important;}
    }
  }
  p {
      margin: 6px;
      text-align: justify;
  }
} 
.narrow .card { width: 262px;}

.full_home {
    width: 96%;
    min-height: 180px;
    .card {
      .thumb {
          float: left;
          padding: 4px;
          min-height: 180px;
          width: 180px;
          margin: 0 10px;
          img { 
             margin: 10px auto;
             width: 180px;
          }
      }
    }
}

.full { 
   .card { 
      width: 96%;
      min-height: 200px;
      height: 200px;
      .left {
          float: left;
          width: 208px;
          min-height: 190px;
      }
      .right {
          float: left;
          max-width: 47%;
          padding-left: 14px;
      }
      ul.thumbnails {
         margin: 0;
         li.thumbnail { 
          float: left;
           margin: 2px 4px;
           padding: 1px;
           
         }
      }
      .title { 
        font-size: 140%;   
        font-weight: bold;
        line-height: 20px;
        height: 32px;
        margin: 0px;
        padding: 10px 0 0;
      }
      .info {
          padding: 12px 6px 0;
      }
   } 
}
.wide { 
   .card { width: 46%; } 
}
@media (max-width: 880px) {
   .card { width: 46%; } 
}
@media (max-width: 480px) {
    .card { width: 96%; }
}

.card_focus {
    border: solid 1px rgba(82, 168, 236, 0.8);                 
    box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); 
}


.small-gray {
    font-size: 0.5em;
    text-align: bottom;
    margin-left: 10px;
}
.preview {
  height: 100px;
}
ul.thumbnails {
   margin: 0;
    li.thumbnail { 
      margin: 2px 4px;
      padding: 1px;
      float: left;
    }
}
img {
  max-width: none;
}
.thumbnail {
  margin: 0px;
  padding: 0px;
  max-height: 280px;
  overflow: hidden;
}
.thumbnail a > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.thumbnail .preview > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.files .span3 {
  //width: 220px;
}

