

form {
    
    textarea {
        width: 720px;
    }
    .wysihtml5-sandbox {
        width: 780px;
    }
    .wide { input {  width: 720px;}}
 
}
.form-horizontal {
    .control-label {
        width: 80px;
        text-align: left;
    }
    .controls {
        margin-left: 80px;
    }
    .text {
        .control-label {
            width: 0px;
            display: none;
        }
        .controls {
            margin-left: 0px;
        }
    }
    input.text_field {
      width: 600px;
    }
}
.simple_form {
    .image-box {
        width: 410px;
        float: right;
        min-height: 400px;
    }              
    .form-input-boxes {
        width: 500px;
        min-height: 400px;
        float: left;
        input.text_field {
            width: 420px; 
            margin-bottom: 10px;
        }
        textarea {
            width: 490px; 
            margin-bottom: 10px;
        }  
    }    
    
}

.progress {
  height: 8px;
  margin-top: 10px;
}
.progress-success.progress-striped .bar {
  background-color: #7D7D7D;
}

#notice, .alert {
  position: fixed;
  top: 4px;
  left: 30%;
  z-index: 58;
  overflow: hidden;
  width: 40%;
  margin: 0 auto;
  padding: 5px 15px;
  color: #777;
  .close { right: -11px;}
  .alert-success {
    background-color: rgba(88, 245, 0, 0.33);
    //background-color: #468847;  
  }
  .alert-error {
    background-color: rgba(245, 245, 0, 0.58);
    //background-color: #b94a48;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  overflow: auto;
  width: 560px;
  margin: -280px 0 0 -280px;
  background-color: white;
  padding: 10px;
  .modal-header {
      border-bottom: none;
      h3 {
          margin: 0 10px 20px;
      }
  }
  .modal-body {
    padding: 6px;
    .control-label {
        text-align: right; 
        margin-right: 6px;
        font-size: 150%;
        line-height: 32px;
    }
    input {
      width: 320px;
      height: 34px; 
      font-size: 140%;
      }
    }
    form {
      margin-bottom: 8px;
  } 
}
.modal-backdrop {
    opacity: 0.8;
    position: fixed;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: black;
}
.modal-footer {
    background-color: white;
    border-top: none;
}
