

form {
    
    textarea {
        width: 720px;
    }
    .wysihtml5-sandbox {
        width: 780px;
    }
    .wide { input {  width: 720px;}}
 
}
.form-horizontal {
    .control-label {
        width: 80px;
        text-align: left;
    }
    .controls {
        margin-left: 80px;
    }
    .text {
        .control-label {
            width: 0px;
            display: none;
        }
        .controls {
            margin-left: 0px;
        }
    }
    input.text_field {
      width: 600px;
    }
}
.image-box {
    width: 328px;
    float: right;
    min-height: 400px;
    #fileupload {
        .progress {margin: 0;}
        input.file {
            position: relative;
            text-align: right;
            -moz-opacity:0;
            opacity: 0;
            z-index: 2;
        }
        .card {
            width: 280px;
            height: 288px;
            margin-bottom: 0px;
            .card_edit {
                z-index: 150;
                position: relative;
                left: -10px;
                top: -20px;
            }
            .thumbnail {
                height: 272px;
            }
        }
    }
}              
.form-box {
    .simple_form {
        .form-input-boxes {
            width: 478px;
            min-height: 400px;
            float: left;
            input.text_field {
                width: 450px; 
                margin-bottom: 10px;
            }
            textarea {
                width: 456px; 
                margin-bottom: 10px;
            }  
        }
        .left {
            width: 240px;
            float: left;
            select { width: auto;}
            label { text-align: right; margin: 0 4px; width: auto;}
        }
        .right {
            width: 230px;
            float: left;
            select { width: auto;}
            label { text-align: right; margin: 0 4px;}
        }  
    }  
}

.progress {
  height: 8px;
  margin-top: 10px;
}
.progress-success.progress-striped .bar {
  background-color: #7D7D7D;
}


