
body { 
 padding-top: 53px;
 padding-left: 0px;
 padding-right: 0px;
 color: #505050;
 .navbar {
     .brand {
         margin-left: 0;
         font-size: 42px;
         font-weight: bolder;
     }
 }
 .container {
   width: 100%;
 }
 .content {
    margin: 0;
    padding: 0;
    min-height: 640px;
 }
  .row {
    margin: 0px;
    padding: 0 20px 10px; 
    clear: both;
  }
  .span12 {
    width: 100%;
    margin-left: 0px;
  }
  .navbar-fixed-top, .navbar-fixed-bottom {
    margin-bottom: 0px;
    .navbar-inner { padding: 6px; }
    .container {
        width: auto;
    }
    
  }
  .page-header {
      margin: 0 0 0 10px;
      height: 37px;
      h1 { 
         width: auto; 
         float:left;
         margin: 0;
         font-size: 2.5em; 
      }
      .smaller{
         margin-left: 8px;
         font-size: 2.0em; 
         line-height: 48px;
         float:left;
      }
     clear: both; 
     padding-bottom: 2px;
     border-bottom: none;
  }
  .nav-tabs { 
      margin-bottom: 0px;
      //border-bottom: none;
  }
  .footer {
      height: 80px;
      .navbar-static-bottom {
          margin-top: 10px;
          height:60px;
          padding: 10px 12px;
          .nav li a {
              padding: 10px 10px 10px;
          }
      }
  }
}
.modal#show_photo {
    width: 88%;
}

@media (max-width: 979px) {
  .navbar-fixed-top, .navbar-fixed-bottom {
    margin-bottom: 0;
    position: fixed;
    .navbar-inner {
      padding: 6px;
    }
  }
  .span12 {
    width: 100%;
    margin-left: 0px;
  }
  .container {
    width: 100%;
  }
  .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .navbar-inner .container {
    //width: auto;
    width: 100%;
  }
  .wide {.card { width: 46%; } }
}
@media (max-width: 920px) {
  body {
    padding: 53px 0px 0 0px;
  }
  .navbar-fixed-top, .navbar-fixed-bottom {
    margin: 0;
    position: fixed;
    .navbar-inner {
      padding: 0;
    }
  }  
   .wide {.card { width: 45%; } }
}
@media (max-width: 767px) {
  body {
    padding: 58px 0px 0 0px;
    
  }
  .navbar-fixed-top, .navbar-fixed-bottom {
    margin: 0;
    position: fixed;
    .navbar-inner {
      padding: 0;
    }
  }  
  .wide {.card { width: 44%; } }
}
@media (max-width: 680px) {
  body {
    padding: 52px 0px 0 0px;
    
  }
  .wide {.card { width: 94%; } }
}
// iPhone portrait and landscape
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .navbar-fixed-bottom {
    display: none;
  }
  
  .modal {
    position: fixed;
    top: 10%;
    left: 10px;
    width: auto;
    margin: 0px;
    .modal-header { padding: 2px;}
    .control-label { width: 55px;}
    .controls { margin-left: 55px;}
    input { width: 240px;}
  }
  .row {padding: 8px;}
  .wide {.card { width: 98%; } }
}
// iPhone portrait
@media only screen and (max-width : 320px) {
    #full-width-slider { 
        height: 260px !important;
       .rsABlock {
           position: absolute;
           left: 0;
           top: 0;
           margin: 10px 10px;
           padding: 4px;
           z-index: 15;
           -webkit-backface-visibility: hidden;
            background: rgba(255,255,255,0.40);
           -webkit-border-radius: 4px;
           border-radius: 4px;
           color: #000;
           h1 { 
             color: #000;
             font-size: 150%;
             margin: 4px 0 0;
           }
           h3 {
             color: #000;
             font-size: 110%;
             margin: 0 4px 4px;
           }
       }
    }
    .wide {.card { width: 280px; } }
    .card {
        width: 280px;
       .thumb { display: none;}
       h2 {
        font-size: 160%;
        margin: 0 4px 4px;
       }
    }
}
// iPhone landscape
@media only screen and (max-width : 321px) {
  
}
// iPhone 4
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  
}
// iPad portrait and landscape
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .navbar-fixed-bottom {
    display: none;
  }
}
// iPads landscape
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  
}
// iPads portrait
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  
}


.big_gray_box {
  background-color: #eee;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}


h1, h2, h3, h4, h5, h6 {
  color: #505050;
}

.btn {
    padding: 5px 5px;
}
.btn-primary {
    padding: 4px 12px;
}

#notice, .alert {
  position: fixed;
  top: 4px;
  left: 22%;
  z-index: 58;
  overflow: hidden;
  min-width: 220px;
  min-height: 22px;
  margin: 0 auto;
  padding: 3px 10px;
  color: #777;
  .close { right: -9px; top: -9px;}
  .alert-success {
    background-color: rgba(88, 245, 0, 0.33);
    //background-color: #468847;  
  }
  .alert-error {
    background-color: rgba(245, 245, 0, 0.58);
    //background-color: #b94a48;
  }
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  overflow: auto;
  //width: 98%;
  margin: -280px 0 0 -280px;
  background-color: white;
  padding: 10px;
  .modal-header {
      border-bottom: none;
      padding: 8px;
      h3 {
          margin: 0 10px 8px;
          font-size: 26px;
      }
      .close {position: relative; right: -9px; top: -17px;}
  }
  .modal-body {
    padding: 6px;
    .control-group { margin-bottom: 4px;}
    .control-label {
        text-align: right; 
        margin-right: 6px;
        font-size: 150%;
        line-height: 32px;
    }
    input {
      width: 320px;
      height: 34px; 
      font-size: 140%;
      }
    }
    form {
      margin-bottom: 8px;
  } 
}
.modal-backdrop {
    opacity: 0.8;
    position: fixed;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: black;
}
.modal-footer {
    background-color: white;
    padding: 0 30px;
    border-top: none;
    input { margin: 10px;}
}
#request-invite {
    width: 454px;
    
}