
.page-header {
    margin: 10px 0;
    h1 { 
       width: auto;
       
    }
}

form {
    
    textarea {
        width: 720px;
    }
    .wysihtml5-sandbox {
        width: 780px;
    }
    .wide {
        input {
            width: 720px;
        }
    }
    .image-box {
        width: 480px;
        float: left;
    }              
    .control-box {
        width: 420px;
        float: right;
        input.text_field {
            width: 320px; 
            margin-bottom: 10px;
        }
        textarea {
            width: 365px; 
            margin-bottom: 10px;
        } 
       
    }
}

.modal {
    .modal-header {
        border-bottom: none;
    }
    .modal-body {
        .control-label {
            text-align: right; 
            font-size: 130%;
        }
        input {
            width: 320px;
            height: 36px; 
            font-size: 140%;
        }
    }
   form {
       margin-bottom: 4px;
   } 
}
 
.small-gray {
    font-size: 0.5em;
    text-align: bottom;
    margin-left: 10px;
}