

form {
    
    textarea {
        width: 720px;
    }
    .wysihtml5-sandbox {
        width: 780px;
    }
    .wide {
        input {
            width: 720px;
        }
    }
}

.modal {
    .modal-header {
        border-bottom: none;
    }
    .modal-body {
        .control-label {
            text-align: right; 
            font-size: 130%;
        }
        input {
            width: 320px;
            height: 36px; 
            font-size: 140%;
        }
    }
   form {
       margin-bottom: 4px;
   } 
}
