
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  //width: 98%;
  //margin: -280px 0 0 -280px;
  background-color: white;
  padding: 10px;
  .modal-header {
      border-bottom: none;
      padding: 8px;
      h3 {
          margin: 0 10px 8px;
          font-size: 26px;
      }
      .close {position: relative; right: -9px; top: -17px;}
  }
  .modal-body {
    padding: 6px;
    overflow: auto;
    .control-group { margin-bottom: 4px;}
    .control-label {
        text-align: right; 
        margin-right: 6px;
        font-size: 150%;
        line-height: 32px;
        float: left;
    }
    input {
      width: 320px;
      height: 34px; 
      font-size: 140%;
    }
    form {
      margin-bottom: 8px;
    }
    .text_field2 {
       width: 500px;
       margin-bottom: 8px; 
    }
    .wysihtml5-toolbar {
        font-size: 80%;
        .btn {
            padding: 4px 7px;
        }
    }
  } 
}
#request-invite {
    width: 454px;
}
.modal-backdrop {
    opacity: 0.8;
    position: fixed;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: black;
}
.modal-footer {
    background-color: white;
    padding: 0 30px;
    border-top: none;
    input { margin: 10px;}
}
// iPhone portrait
@media (max-width: 480px) {
  .modal {
    border: 1px solid yellow;
    height: 500px; 
    position: fixed; 
    top: 18px;
    left: 3px;
    overflow-y: scroll; 
    -webkit-overflow-scrolling: touch; 
  }
  #request-invite {
    width: 290px;
    height: 260px;
    border: 1px solid blue;
    label { display:none;}
    .controls { margin-left: 0px;}
    input {
      width: 260px;
      height: 34px; 
      font-size: 120%;
    }
    .modal-footer {
       input {width: 220px;} 
    }
  }
  .modal.fade.in{
    top: 5px; 
  }
  .modal-body{
    max-height: 2400px; 
  } 
  .modal-footer {
    input {
      width: 220px;
      height: 34px; 
      font-size: 120%;
    } 
  } 
}
