

.contentSlider {
  width: 100%;
}
.contentSlider .rsSlide,
.contentSlider .rsOverflow {
  background: #eee;
}
.contentSlider h3 {
  font-size: 24px;
  line-height: 31px;
  margin: 12px 0 8px;
  font-weight: bold;
}
.contentSlider img {
  max-width: 100%;
  height: auto;
  display: block;
}
.content-slider-bg {
  width: 86%;
  padding: 24px 7%;
  background: #eee;
}

.content {
    .breadcrumb {
        left: 0;
        top: 0;
        position: absolute;
        display: inline;
        margin: 60px 40px;
        padding: 4px 12px 6px;
        z-index: 55;
         background: rgba(255,255,255,0.30);
        -webkit-border-radius: 5px;
        border-radius: 5px;
        color: #000;
        h1 { color: #000;}
    }
  .royalSlider {
      .call-to-action {
        text-align: center; 
        position: absolute;
        bottom: 20%;
        right: 5%;
        z-index: 5555;
        .btn-primary {
          padding: 12px 30px;
          a {font-size: 120%}
        }
      }
      .rsBullets {
        position: relative;
        z-index: 35;
        bottom: 10%;
        left: 0%;
        padding: 2px 2px 4px;
        margin: 0 auto;
        width: 120px;
        text-align: center;
        background: rgba(0,0,0,0.35);
        -webkit-border-radius: 5px;
        border-radius: 5px;
      }
      .rsArrowLeft {
          position: relative;  float: left;
          left: 10%;  bottom: 16%; 
      }
      .rsArrowRight {
          position: relative; float: right;
          right: 10%; bottom: 16%; 
      }
      .rsABlock {
        left: 0;
        top: 0;
        margin: 60px 40px;
        padding: 4px 12px 6px;
        position: absolute;
        z-index: 15;
        -webkit-backface-visibility: hidden;
         background: rgba(255,255,255,0.30);
        -webkit-border-radius: 5px;
        border-radius: 5px;
        color: #000;
        h1 { color: #000;}
        
      }
  }
  .img-bar {
    margin: -20px 0 0;
    padding: 0px;
    width: 100%;
    height: 420px;
    overflow: hidden;
    img {
      width: auto;
      margin: 0 auto;
      width: 100%;
    }
    .title {
      position: absolute;
      top: 100px;
      left: 10%;
      padding: 0 16px;
      background-color: rgba(230,230,230,.78);
      background-color: rgba(230,230,230,.78);
      -webkit-border-radius: 6px 6px 6px 6px;
      -moz-border-radius: 6px 6px 6px 6px;
      border-radius: 6px 6px 6px 6px;
      -webkit-box-shadow: 0 8px 12px rgba(0,0,0,.35);
      -moz-box-shadow: 0 8px 12px rgba(0,0,0,.35);
      box-shadow: 0 8px 12px rgba(0,0,0,.35);
    }
    .blurb {
      position: absolute;
      top: 200px;
      left: 30%;
      padding: 0 16px;
      background-color: rgba(230,230,230,.78);
      -webkit-border-radius: 6px 6px 6px 6px;
      -moz-border-radius: 6px 6px 6px 6px;
      border-radius: 6px 6px 6px 6px;
      -webkit-box-shadow: 0 8px 12px rgba(0,0,0,.35);
      -moz-box-shadow: 0 8px 12px rgba(0,0,0,.35);
      box-shadow: 0 8px 12px rgba(0,0,0,.35);
    }
    #call-to-action {
      text-align: center; 
      position: absolute;
      z-index: 55;
      top: 160px;
      right: 60px;
      .btn-primary {
        padding: 12px 30px;
        a {font-size: 120%}
      }
    }
  }
  
}