.tab-content{:style=>"min-height: 480px;"} 
  .tab-pane#overview
    .row
      %h1=@brand.name

  .tab-pane.active#edit
    .row
      %h1 
        Editing 
        =link_to @brand.name, @brand
        = link_to "New", new_brand_path(:state=>"inactive"), :class => 'btn btn-primary btn-mini'
        =#render :partial=>'shared/edit_menu', :locals=>{:entity=>@brand}
      = render 'form'
    
  .tab-pane#content
    .row
      %h1 Topics
      =render :partial => "topics/grid", :locals=>{:entities=>@brand.topics, :model_class=>Topic }           
  
  .tab-pane#admin
    .row
      =#render :partial => "grid", :locals=>{:entities=>@mediums_new, :model_class=>model_class } 
      =render :partial=>'photos/upload_form', :locals=>{:parent=>@brand}

=content_for :admin_bar do
  =render :partial=>"shared/tab_bar_edit" 