.row.companies
  #masonry.wide
    %h1 Brands
    - @brands.each do |brand|  
      .card
        .thumbnail
          -if brand.cover.blank? or !Photo.find_by_id(brand.cover)  
            =link_to image_tag("/NoImageAvailable.jpg"), brand_path(brand)
          -else
            =link_to image_tag(brand.cover_url("small")), brand_path(brand)
        .caption
          %h4
            =brand.name 
            %span.small-gray
              =link_to edit_brand_path(brand), :class=>"link" do
                %i.icon-edit
                Edit

  =link_to 'New', new_brand_path, :class => 'btn btn-mini'

