.row
  .tab-content{:style=>"min-height: 480px;"} 
    .tab-pane.active#actived
      #masonry.wide
        %h1 Brands
        .row.full.masonry
          =render :partial => Brand.active, :as => :entity
          
    .tab-pane#inactive
      #masonry.wide
        %h1 
          Inactive Brands
          =link_to 'New', new_brand_path, :class => 'btn btn-mini' if is_admin?
        .row.full.masonry
          =render :partial => Brand.not_active, :as => :entity

=render "shared/modals"
=content_for :admin_bar do
  =render :partial=>"shared/tab_bar_index" 
