- if is_admin?
  =content_for :edit_bar do
    .btn-group.pull-right    
      %a.btn.btn-mini.dropdown-toggle(data-toggle="dropdown" href="#")
        %i.icon-cog
        = "Edit" 
        %span.caret
      %ul.dropdown-menu
        %li=link_to @brand.name, brand_path(@brand) 
        %li.divider
        %li=link_to "Edit", edit_brand_path(@brand)
        %li.divider
        
#full-width-slider.royalSlider.heroSlider.rsMinW
  %input#brandID{:type => "hidden", :value => @brand.id}
  -@brand.slider_photos.each do |photo|
    .rsContent
      =image_tag(photo.image.medium.url, :class=>"rsImg")
      .infoBlock.rsAbsoluteEl.infoBlockLeftBlack.rsNoDrag{:data=>{:fade=>{:effect=>10}, :move=>{:offset=>10, :effect=>"bottom"}, :speed=>"200"}}
        %h1=@brand.name
        %h1= photo.name
        .blurb
          =@brand.blurb ? @brand.blurb.html_safe : ""
          =photo.blurb ? photo.blurb.html_safe : ""

.row.company
  #masonry.wide  
    -if @brand.products
      -@brand.products.each do |product|
        .card
          .img-box
            =link_to image_tag(product.cover_url), product_path(product)
          .card-info
            %p{:style=>"text-align: center;"}
              =product.name
    -if @brand.topics
      -@brand.topics.each do |topic|
        .card
          .img-box
            =link_to image_tag(topic.cover_url), topic_path(topic)
          .card-info
            -if is_admin?  && false
              .card_edit
                =render :partial=>'shared/edit_menu', :locals=>{:entity=>topic}
            %p{:style=>"text-align: center;"}
              =topic.name  
