.page-header
  %h1
    =link_to categories_path do
      %i.icon-list-alt
    -if action == "edit" 
      = "Edit "           
      = link_to @category.name, @category 
    -elsif action == "new"
      = "New "
    -else
      =link_to @category.name, @category
      %span.small-gray
        =link_to "edit", edit_category_path(@category)
        = render :partial=>'shared/edit_menu', :locals=>{:entity=>@category}
        %a.btn.btn-mini{"data-toggle" => "modal", :href => "#edit-topic"} edit2
  
  =render :partial=>'shared/edit_menu', :locals=>{:entity=>@category}