.tab-content{:style=>"min-height: 480px;"} 
  .tab-pane.active#actived
    .row.companies
      #masonry.wide
        %h1 
          Categories
          =link_to 'New', new_category_path, :class => 'btn btn-mini' if is_admin?
        - Category.active.each do |category|  
          .card#category
            .thumbnail=link_to image_tag(category.cover_url("small")), category_path(category)
            .caption
              %h4=category.name
              .card_edit=render :partial=>'shared/edit_menu', :locals=>{:entity=>category} if is_admin?
  .tab-pane#inactive
    .row.companies
      #masonry.wide
        %h1 
          Inactive Categories
          =link_to 'New', new_category_path, :class => 'btn btn-mini' if is_admin?
        - Category.not_active.each do |category|  
          .card#category
            .thumbnail=link_to image_tag(category.cover_url("small")), category_path(category)
            .caption
              %h4=category.name
              .card_edit=render :partial=>'shared/edit_menu', :locals=>{:entity=>category} if is_admin?


           