.row.companies
  #masonry.wide
    %h1 Categories
    - @categories.each do |category|  
      .card#category
        .thumbnail
          -if category.cover.blank? or !Photo.find_by_id(category.cover)  
            =link_to image_tag("/NoImageAvailable.jpg"), category_path(category)
          -else
            =link_to image_tag(category.cover_url("small")), category_path(category)
        .caption
          %h4
            =category.name 
            %span.small-gray
              =link_to edit_category_path(category), :class=>"link" do
                %i.icon-edit
                Edit

  =link_to 'New', new_category_path, :class => 'btn btn-mini'
