.row.masonry
  %h1 Categories
  %ul.thumbnails
    - @categories.each do |category|  
      %li.card#company
        .thumbnail
          -if category.cover.blank? or !Photo.find_by_id(category.cover)  
            =link_to image_tag("/NoImageAvailable.jpg"), category_path(category.id)
          -else
            =link_to image_tag(Photo.find_by_id(category.cover).image.thumb.url), category_path(category.id)
        .caption
          %h4
            =category.name 
            %span.small-gray
              =link_to edit_category_path(category.id), :class=>"link" do
                %i.icon-edit
                Edit

  =link_to 'New', new_category_path, :class => 'btn btn-mini'
