.row
  .tab-content{:style=>"min-height: 480px;"} 
    .tab-pane.active#actived
      #masonry.wide
        %h1 Categories
        -collection = Category.active
        .row.full.masonry
          =render :partial => collection, :as => :entity
          
    .tab-pane#inactive
      #masonry.wide
        %h1 
          Inactive Categories
          =link_to 'New', new_category_path, :class => 'btn btn-mini' if is_admin?
        .row.full.masonry
          =render :partial => Category.not_active, :as => :entity

=content_for :admin_bar do
  =render :partial=>"shared/tab_bar_index" 
            
=render "shared/modals"
=#render "shared/popups_menus", :entity=>resource, :model_class=>resource_class

           