%input#categoryID{:type => "hidden", :value => @category.id}
.img-bar
  =image_tag(@category.cover_url)
  .title
    %h1= @category.name
  .blurb=@category.blurb ? @category.blurb.html_safe : ""

.hero
  =@category.body ? @category.body.html_safe : "" 
.row#masonry
  %input#categoryID{:type => "hidden", :value => @category.id}
  

= link_to 'Edit', edit_category_path(@category)
\|
= link_to 'Back', categories_path
