#full-width-slider.royalSlider.heroSlider.rsMinW
  -@category.slider_photos.each do |photo|
    .rsContent
      =image_tag(photo.image.medium.url, :class=>"rsImg")
      .infoBlock.rsAbsoluteEl.infoBlockLeftBlack.rsNoDrag{:data=>{:fade=>{:effect=>10}, :move=>{:offset=>10, :effect=>"bottom"}, :speed=>"200"}}
        %h1=@category.name
      .infoBlock.infoBlockLeftBlack.rsABlock.rsNoDrag{:data=>{:fade=>{:effect=>10}, :move=>{:offset=>10, :effect=>"bottom"}, :speed=>"200"}}
        %h1= photo.name
      .infoBlock.rsAbsoluteEl.rsNoDrag{:data=>{:fade=>{:effect=>10}, :move=>{:offset=>10, :effect=>"bottom"}, :speed=>"200"}}
        .blurb
          =@category.blurb ? @category.blurb.html_safe : ""
          =photo.blurb ? photo.blurb.html_safe : ""

%input#categoryID{:type => "hidden", :value => @category.id}
.hero
  -if is_admin?
    %span.small-gray= link_to 'edit', edit_category_path(@category)
  =@category.body ? @category.body.html_safe : "" 
.row#masonry
  %input#categoryID{:type => "hidden", :value => @category.id}
  - @category.slider_photos.each_with_index do |photo, index|  
    .card.thumb
      .thumbnail=link_to image_tag(photo.image.thumb.url, :class=>"rsImg"), "#image-#{index}"
      %h4=photo.name 
  
  - @category.topics.each do |topic|  
    .card#brand
      .thumbnail=link_to image_tag(topic.cover_url("small")), topic_path(topic)
      %h4=topic.name 

  - @category.companies.each do |company|  
    .card.company
      .thumbnail=link_to image_tag(company.cover_url("small")), company_path(company)
      %h4=company.name 
 
  - @category.brands.each do |brand|  
    .card.brand
      .thumbnail=link_to image_tag(brand.cover_url("small")), brand_path(brand)
      %h4=brand.name 

           