.card{:style=>"min-height: 100px;"}
  .title{:style=>"float:left;"}
    = link_to entity.name, entity
  .card-info{:style=>"float:right;"}
    %span.visibility
    -if entity.categories
      - entity.categories.each do |category|  
        =link_to category.name, category    
  .rating_box
    -rate_dimension_id = entity.rate_dimensions[0][0]
    -ratings = entity.rates(rate_dimension_id)
    .rating
      =rating_for entity, rate_dimension_id, :star=>10
      .totals
        %b=entity.average(rate_dimension_id).avg if entity.average(rate_dimension_id)
        =" over #{ratings.count} ratings" 
      .add_link
        -url=new_modal_reviews_path(:p=>entity.id)
        =link_to url, :data=>{:toggle=>"modal", :target=>"#new_review", :remote=>url}, :class=>" btn-mini" do
          ="Add Review"
          %i.icon-thumbs-up
      -#/
        .raters  
          -ratings.each do |rate|
            =rater_avatar(entity, rate, rate_dimension_id)

    
    
  
