.card
  .left
    %ul.thumbnails.files
      - unless entity.photos.empty?
        - entity.photos[0..3].each do |pic|
          %li.thumbnail{:id => "photo_#{pic.id}"}
            %a{:href => pic.image.large.url, :title => pic.blurb, :data=>{:toggle=>"modal", :target=>"#show_photo"}}
              %img{:alt => "", :src => pic.image.small.url, :width=>"100px"}              
  .right
    .title{:style=>"clear: both;"}
      = link_to entity.name, entity
    .rating_box
      -entity.rate_dimensions.each do |rate_dimension_id, rate_dimension_name, rate_dimension_stars|
        .rating
          .scope=rate_dimension_name
          =rating_for entity, rate_dimension_id, :star=>rate_dimension_stars
          .totals
            -ratings = entity.rates(rate_dimension_id)
            .metric=entity.average(rate_dimension_id).avg if entity.average(rate_dimension_id)
            =" over #{ratings.count} ratings" 
        -#/
          .raters  
            -ratings.each do |rate|
              =rater_avatar(entity, rate, rate_dimension_id)

    .info
      =entity.blurb.html_safe if entity.blurb  
    =link_to new_modal_reviews_path, :data=>{:toggle=>"modal", :target=>"#new_review", :remote=>new_modal_reviews_path(:p=>entity.id)}, :class=>" btn-mini" do
      ="Add Review"
      %i.icon-thumbs-up
    .card-info
      %span.visibility
      -if entity.categories
        - entity.categories.each do |category|  
          =link_to category.name, category
  
