.footer
  .navbar.navbar-static-bottom
    %nav
      %footer#footer
        .container
          %nav.footer
            %ul
              %li=link_to "About", about_path
              %li=link_to "Terms of Service", tos_path
              %li=link_to "Privacy Policy", privacy_path
              - if user_signed_in? && is_admin?
                %li= link_to 'Admin', users_path
          %h1
            %a{:href => "/"} &copy; TrueBuy 2013
            .clear
          -#/ removing social media
            %nav.social_media
              %ul
                %li.facebook
                  %a{:href => "http://www.facebook.com/", :target => "_blank", :title => "Facebook"} Facebook
                %li.twitter
                  %a{:href => "http://www.twitter.com/", :target => "_blank", :title => "Twitter"} Twitter
                %li.instagram
                  %a{:href => "http://www.instagram.com/", :target => "_blank", :title => "Instagram"} Instagram
                %li.pinterest
                  %a{:href => "http://www.pinterest.com/", :target => "_blank", :title => "Pinterest"} Pinterest
                %li.tumblr
                  %a{:href => "http://truebuy.tumblr.com", :target => "_blank", :title => "Tumblr"} Tumblr
              .clear
          .clear  

 
 
