%ul.nav
  %li=link_to "About", about_path
  %li=link_to "Terms of Service", tos_path
  %li=link_to "Privacy Policy", privacy_path

- if false && user_signed_in?
  %ul.nav.pull-right 
    %li=link_to "Topics", topics_path
    %li= link_to 'Edit account', edit_user_registration_path
    - if is_admin?
      %li= link_to 'Admin', users_path

.navbar
  
  
%ul.nav.pull-right
  %li
    %a(href="/") &copy; TrueBuy 2013
  

 
 
